html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
::selection {
  background-color: #333;
  color: #abcabc;
}
.header__inner {
  width: 1200px;
  margin: 10px auto 0;
  text-align: center;
  background-color: #abcabc;
}
.header__bottom {
  background-color: #333;
}
.header-title {
  font-size: 3em;
}
.header-subtitle {
  font-size: 1.6em;
  color: #abcabc;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
}
.title {
  font-size: 1.6em;
}
.profile {
  background-color: #abcabc;
  padding: 20px;
  max-width: 30%;
}
.profile__photo {
  text-align: center;
  margin: 30px 0;
}
.profile__photo img {
  border-radius: 50%;
  max-width: 300px;
}
.info {
  margin-bottom: 30px;
}
.info__item,
.contact__item {
  margin: 5px 0;
}
.info__item span,
.contact__item span {
  font-weight: 700;
  padding-right: 10px;
}
.contact__link {
  color: inherit;
}
.main {
  padding: 20px;
}
.section__title {
  font-size: 1.7em;
}
.about,
.skills {
  margin-bottom: 30px;
}
.about__text {
  font-size: 1.2em;
}
.skills__list {
  padding-left: 30px;
}
.skills__item {
  text-transform: uppercase;
}